.alert {
  margin-bottom: 0;
}

.alert, .results, .reload-button, .options-header, .options {
  display: none;
}

.results .number {
  font-size: 36px;
}
.results .text {
  font-size: 20px;
}
.results .list {
  font-size: 16px;
}
.results ul {
  list-style-type: decimal;
}

.reload-button {
  margin: 15px 0;
}

.options input {
  width: 100px;
}
