/* Remove the extra space between alerts and the tool UI */
.alert {
  margin-bottom: 0;
}

/* UI that should be hidden by default */
.alert, .results, #results-header, .reload-button, .options-header, .options, #preloader {
  display: none;
}

/* Tool results */
.results .number {
  font-size: 36px;
}
.results .text {
  font-size: 20px;
}
.results .list {
  font-size: 16px;
}
.results ul {
  list-style-type: decimal;
}

/* Tool UI */
.reload-button {
  margin: 15px 0;
}
.options input {
  width: 100px;
}
