#main {
	display: table;
	margin: 0px auto;
}

#title {
	text-align: center;
}

.split {
	width: 50%;
}

.nav-tabs {
	border: 1px solid #ddd;
	margin: 0;
}

.nav-tabs li:last-child a {
	margin-right: 0 !important;
}

.well {
	border: 1px solid #ddd;
	border-top: none;
}

.nav-tabs .active a, .nav-tabs .active a:hover {
	color: #000;
	background-color: #eee;
}

#results, #reload-button, #options-header, #options {
	display: none;
}

#results #number {
	font-size: 36px;
}
#results #text {
	font-size: 20px;
}
#results #list {
	font-size: 16px;
}
#results ul {
	list-style-type: decimal;
	list-style-position: inside;
}

#reload-button {
	margin: 15px 0px;
}

#options input {
	width: 40px;
}

#number-options #right {
	text-align: right;
}
#number-options #left {
	text-align: left;
}
